<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready2Clean | About</title>
    <meta http-equiv="description" content="The brand 'Ready2Clean' is a woman owned business initiated in 2022. Learn more about the owners
    character and devotion to provide clients with the best service."/>
    <link rel="stylesheet" href="/css/about.css"/>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lenis@1.1.13/dist/lenis.min.js"></script>
    <link rel="icon" href="/icons/broom.png"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="content-security-policy" content="default-src 'self'; script-src 'self'; style-src 'self' ">
    <meta http-equiv="x-frame-options" content="sameorigin">
</head>
<body>
    <div class="preloader">
        <div class="container">
            <div id="header" class="upper">
                <h1 class="header-title" data-text="ready 2">ready 2</h1>
                <h1 class="header-title header-subtitle" data-text="clean.">clean.</h1>


                <div class="subtitle">
                    <span class="upper subtitle-tag">about page</span>
                </div>
            </div>
        </div>
        <div class="box"></div>
    </div>
    <main>
        <div class="container">
            <div class="wrapper">
                <nav>
                    <div class="nav-logo upper">
                        <a href="/">
                            <h1>ready 2</h1>
                            <h1>clean</h1>
                        </a>
                    </div>
                    <div class="nav-menu-icons">
                        <div class="nav-state-icon">
                            <img src="/images/svg/noun-south-carolina-1695199.svg"/>
                        </div>
                        <div class="nav-menu-toggle">
                            <h1 class="upper">menu.</h1>
                            <span class="nav-menu-circ"></span>
                        </div>
                        <div class="nav-links-desk">
                            <ul>
                               <li>
                                <a href="/">home</a>
                               </li> 
                               <li>
                                    <a href="/gallery">gallery</a>
                               </li>
                               <li>
                                    <a href="/contact">contact</a>
                               </li>
                            </ul>
                            <span class="nav-links-dash"></span>
                        </div>
                    </div>
                </nav>
                <div class="sub-nav-wrapper">
                    <div class="sub-nav upper">
                        <h2>01.</h2>
                        <h4>about me.</h4>
                    </div>
                </div>

                <div class="hero-wrapper">
                    <div class="hero" id="hero">
                        <div class="hero-box">
                            <h1 class="hero-header-one">hello</h1>
                            <span class="box-one z-box"></span>
                            <span class="box-two z-box"></span>
                            <span class="box-three z-box"></span>
                            <span class="box-four z-box"></span>



                            <div class="hero-slider">
                                <div class="hero-slides">
                                    <div class="hero-slide">
                                        <img src="/slides/vacuum-cleaner-268179_1280.jpg"/>
                                    </div>
                                    <div class="hero-slide">
                                        <img src="/slides/cleaning-8660309_1280.jpg"/>
                                    </div>
                                    <div class="hero-slide">
                                        <img src="/slides/cleanliness-2799459_1280.jpg"/>
                                    </div>
                                </div>
                            </div>
                            <h1 class="hero-header-two">my name is tameka gibbs.</h1>
                        </div>
                    </div>
                    <div class="dd-arrow">
                        <img src="/images/svg/arrow-down-double-line.svg"/>
                    </div>
                  </div>
                </div>
                <div class="banner">
                    <div class="banner-sticky">
                        <div class="banner-header upper">
                                <div class="banner-header-wrapper">
                                    <h3>i'm located in</h3>
                                    <img src="/images/svg/noun-down-arrow-3523497.svg"/>
                                </div>
                        </div>
                        <div class="info-location-headers upper">
                                <h1>
                                    south
                                    <span id="span-tag"></span>
                                </h1>
                                <h1>carolina</h1>
                        </div>
                   </div>
                </div>
                <div class="services upper">
                    <div class="services-sticky">
                        <h1>services.</h1>
                        <div class="services-content">
                            <ul class="service-info">
                                <li>
                                    <h3>
                                        weekly, bi-weekly, and monthly cleaning.
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        we require specific cleaning.
                                    </h3>
                                </li>
                                <li>
                                    <h3>
                                        we offer inside & outside cleaning.
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bio-header-title upper">
                    <div class="bio-title">
                        <h1>tameka's</h1>
                        <h1>bio.</h1>
                    </div>
                </div>
                <div class="bio upper">
                    <div class="container">
                       <div class="bio-content upper">
                            <h3>I am relaxed, organized, trust-worthy, and very hard working. As for experience,
                                I've been cleaning residential homes for 5+ years. I'm very respectful and patient when handling business. It is my job to make sure my clients have a peace of mind when it comes to cleaning their home. <h3>With my service, you can be sure to receive 
                                expert-level assistance by someone who enjoys doing what they love.</h3>
                            </h3>
                        </div>

                        <div class="bio-image">
                            <img src="/images/jpg/IMG_E3113.JPG"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="container">
        <h3 class="upper">contact</h3>
        <div class="footer-container container">
            <div class="footer-content">
                <h4>(843) 864-3952</h4>
            </div>
            <div class="socials">
                <div class="socials-icon">
                    <a href = "https://www.facebook.com/people/Ready-2-Clean/61558518700473/">
                        <img src="/images/svg/facebook-fill.svg"/>
                    </a>
                </div>
            </div>
        </div>
        <h1>r2c</h1>
    </footer>

    <div class="nav-menu-mobile upper">
         <p id="nav-mobile-title">ready 2 clean.</p>
        <div class="nav-menu-mobile-list">
            <h1>
                <a href="/">home</a>
            </h1>
            <h1>
                <a href="" class="active">about</a>
                <span class="circ"></span>

            </h1>
            <h1>
                <a href="/gallery">gallery</a>
            </h1>
            <h1>
                <a href="/contact">contact</a>
            </h1>
        </div>
        <p id="exit" class="exit-menu">exit.</p>
    </div>
</body>
<script src="/js/about.js"></script>
</html>