<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="description" content="At Ready2Clean, we value the quality of your home and the significance of
        a clean and healthy space. Our goal is to provide services that go beyond cleaning, creating a healthy home for you and your family.">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie-edge"/>
        <meta http-equiv="cache-control" content="no-cache, no-store, max-age=0"/>
        <title>Ready2Clean</title>
        <link rel="stylesheet" type="text/css" href="../../index.css"/>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lenis@1.1.13/dist/lenis.min.js"></script>
        <link rel="icon shortcut" href="../../public/icons/broom.png"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta http-equiv="content-security-policy" content="default-src 'self'; script-src 'self'; style-src 'self' ">
        <meta http-equiv="x-frame-options" content="sameorigin">
        <meta http-equiv="content-language" content="en-us">
    </head>
    <body>
       <div class="preloader">
            <div class="container">
                <div class="nav-preload">
                    <div class="nav-preload-logo">
                        <h1 class="nav-logo-top">ready <span class="logo-tag">2</span></h1>
                        <h1 class="nav-logo-bottom">clean.</h1>
                    </div>
                    <div class="social-icons">
                        <div class="social-icon-icons">
                            <a href="https://www.facebook.com/people/Ready-2-Clean/61558518700473/">
                                <img src="./public/images/svg/facebook-fill.svg" style="color: white"/>
                            </a>
                        </div>
                        <div class="status-indicator">
                            <span class="status-meter"></span>
                        </div>
                    </div>
                </div>

                <!-- preload body -->
                <div class="body-preload">
                    <div class="body-preload-wrapper">
                        <div class="body-preload-top over">
                            <h1 class="preload-header">
                            <span data-fill="we" id="fill">
                                we
                            </span> 
                            keep</h1>
                        </div>
                        <div class="body-preload-mid over">
                            <h1 class="preload-header">your home</h1>
                        </div>
                        <div class="body-preload-mid-low over">
                            <h1 class="preload-header">spotless</h1>
                        </div>
                        <div class="body-preload-bottom over">
                            <h1 class="preload-header">
                                <span data-fill="clean." id="fill">clean.</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="footer-preload">
                    <div class="contact-num">
                        <a href="tel:+18433381050" id="contact-num">
                            <!--  (843)-338-1050 -->
                            <h1 id="tel-one" class="tel">
                                <span class="digits digit-one">8</span>
                                <span class="digits digit-one">4</span>
                                <span class="digits digit-one">3</span>
                                <span class="digits digits-dash digit-one">-</span>
                            </h1>
                            <h1 id="tel-two" class="tel">
                                <span class="digits digit-two">8</span>
                                <span class="digits digit-two">6</span>
                                <span class="digits digit-two">4</span>
                                <span class="digits digits-dash digit-two">-</span>
                            </h1>
                            <h1 id="tel-three" class="tel">
                                <span class="digits digit-three">3</span>
                                <span class="digits digit-three">9</span>
                                <span class="digits digit-three">5</span>
                                <span class="digits digit-three">2</span>
                            </h1>
                        </a>
                        <div class="circ"></div>
                    </div>
                    <div class="preload-notify-msg">
                        <h2 class="preload-msg">click anywhere to reveal home page.</h2>
                    </div>
                </div>
            </div>
       </div>

       <main class="main">
            <div class="container">
                <nav>
                    <div class="nav-links">
                        <ul>
                            <li><a href="/" class="active">home.</a></li>
                        </ul>
                    </div>
                    <div class="nav-logo">
                        <h1 class="logo-top upper">ready 2</h1>
                        <h1 class="logo-bottom upper">clean</h1>
                    </div>
                    <div class="nav-links-desktop">
                        <ul>
                        <li><a href="/about">about</a></li>
                        <li><a href="/gallery">gallery</a></li>
                        <li><a href="/contact">contact</a></li>
                        </ul>
                    </div>

                    <div class="nav-links-min-height">
                        <h2>
                            menu.
                        </h2>
                        <span class="wave"></span>
                    </div>

                </nav>
                <div class="hero">
                    <div class="hero-location">
                        <h2 class="hero-area h-top">based in</h2>
                        <h2 class="hero-area h-bottom">sumter, sc.</h2>
                        <span class="hero-img-wrapper">
                            <img src="./public/images/svg/noun-south-carolina-2438715.svg"/>
                        </span>
                    </div>

                    <div class="hero-text">
                        <h3 class="hero-text-header">
                            <span class=" text text-key"> 
                                <span class="hero-qt hero-text-highlight" data-text='" at ready2clean ,' >" at ready2clean ,
                            </span>
                        </span> 
                            <span class="text">
                                <span class="hero-qt">we value the quality of your home and the significance of a clean and healthy space.</span>
                            </span>
                            <span class="text">
                                <span class="hero-qt">
                                    our goal is to provide services that go beyond cleaning, creating a healthy home for you 
                                and your family.
                            </span>
                        </span>
                            <span class="text text-key">
                                <span class="hero-qt hero-text-highlight qt" data-text='"'>"</span>
                            </span> 
                        </h3>
                    </div>
                    <div class="hero-menu-footer">
                            <div class="menu-tag-container">
                                <h1 class="menu-tag upper">
                                    menu.
                                </h1>
                            </div>
                            <div class="hero-menu-down-arrow">
                                <img src="./public/images/svg/arrow-down-double-line.svg">
                            </div>
                    </div>
                 </div>
                <div class="section why_choose__us" id="about_us" aria-section ="_why choose us??">
                    <div class="section_wrapper" id="about_us_wrapper">
                        <div class="section_title upper">
                            <!-- <h1>why choose us?</h1> -->
                            <h1>why</h1>
                            <h1>choose</h1>
                            <h1>us?</h1>
                        </div>
                        <div class="section_description upper"  id="why_choose_us_descrip">
                            <h2>founded in 2023. we provide great services & will clean any area in your home. we are willing to clean houses
                                in <span id="location">florence, sumter, conway, myrtle beach, & columbia</span> for now. we promise to fulfill your cleaning needs & will do our best to
                                keep your home spotless clean.
                            </h2>
                            <div class="section_desc_span">
                                <span class="rot rot-360-one"></span>
                                <span class="rot rot-360-two"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="area" aria-section="areas to clean">
                    <div class="area-wrapper">
                        <div class="area-title upper">
                            <h1>areas we clean</h1>
                            <img src="./public/images/svg/noun-down-arrow-3523497.svg"/>
                        </div>
                    </div>
                    <div class="area-clean-wrapper upper">
                        <h3>we will clean any area in your home.</h3>
                    </div>

                    <div class="area-slide-show">
                        <div class="area-slider">
                            <!-- <div class="area-slides upper active">
                                <h1>such as the..</h1>
                            </div> -->
                            <div class="area-slides">
                                <img src="./public/images/jpg/living-room-1835923_1280.jpg"/>
                                <h1>living room</h1>
                            </div>
                            <div class="area-slides">
                                <img src="./public/images/jpg/bathroom-1597027_1280.jpg"/>
                                <h1>bathroom</h1>
                            </div>
                            <div class="area-slides">
                                <img src="./public/images/jpg/kitchen-3689917_1280.jpg"/>
                                <h1>kitchen</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="equipment">
                    <div class="equipment-wrapper">
                        <div class="equipment-title upper">
                            <h1 class="equip-title-one">equiqment/</h1>
                            <h1 class="equip-title-two">cleaning supply</h1>
                        </div>
                        <div class="equip-supply-icons">
                            <div class="equip-icon">
                                <img src="./public/images/svg/noun-broom-6440868.svg"/>
                            </div>
                            <div class="equip-icon">
                                <img src="./public/images/svg/noun-spray-bottle-43265.svg"/>
                            </div>
                            <div class="equip-icon">
                                <img src="./public/images/svg/noun-mop-5754529.svg"/>
                            </div>
                        </div>

                        <div class="equipment-list">
                            <ul class="equipment-ul-list" aria-label="may add more items in future">
                                <li class="list-holder">
                                    <h2>all equipment is provided.</h2>
                                </li>
                                <li class="list-holder">
                                    <h2>if client prefers their cleaning supplies, we will be happy to use them. </h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rates">
                    <div class="rates-wrapper">
                        <div class="rates-sticky">
                        <div class="rates-title upper" aria-hidden="true" area-title-tag="rates & availability">
                            <h1>rates</h1>
                            <h1>& availability</h1>
                        </div>

                        <div class="ra-grid">
                            <div class="rates-info">
                                <div class="rates-info-header">
                                    <h1 class="upper rates-info-title info-header">rates</h1>
                                </div>
                                <ul>
                                    <li>

                                        quotes are free
                                    </li>
                                    <li>
                                        site visits are free
                                    </li>
                                    <li>
                                        once service is completed, an amount will be determined
                                    </li>
                                </ul>
                            </div>
                            <div class="available-info">
                                <div class="available-info-header">
                                    <h1 class="upper available-info-title info-header">availability</h1>
                                </div>
                                <ul>
                                    <li>
                                        <span>days</span>
                                        monday-friday
                                    </li>
                                    <li>
                                        <span>time</span>
                                        8am-8pm (24 hours)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="showcase">
                    <div class="showcase-wrapper">
                       <div class="showcase-header">
                            <h1 class="showcase-title upper">showcase</h1>
                       </div>
                       <div class="showcase-reel">
                            <div class="showcase-video">
                                <video muted allowsfullscreen>
                                    <source src="./public/images/videos/showcase__reel.mp4">
                                </video>
                            </div>
                            <div class="showcase-gallery">
                                <!-- <span>kam</span> -->
                                <div class="showcase-gallery-grid">
                                    <div class="showcase-before-title upper">
                                        <h2 class="showcase-img-title">before</h2>
                                    </div>
                                    <div class="showcase-after-title upper">
                                        <h2 class="showcase-img-title">after</h2>
                                    </div>
                                    <div class="showcase-img-before one" id="img-before-one">
                                        <div class="showcase-img-wrapper">
                                            <img src="./public/images/jpg/IMG_3247.JPG"/>
                                        </div>
                                    </div>
                                    <div class="showcase-img-before two" id="img-before-two">
                                        <div class="showcase-img-wrapper">
                                            <img src="./public/images/jpg/IMG_3248.JPG"/>
                                        </div>
                                    </div>
                                    <div class="showcase-img-after one" id="img-after-one">
                                        <div class="showcase-img-wrapper">
                                            <img src="./public/images/jpg/IMG_3249.JPG"/>
                                        </div>
                                    </div>
                                    <div class="showcase-img-after two" id="img-after-two">
                                        <div class="showcase-img-wrapper">
                                            <img src="./public/images/jpg/IMG_3250.JPG"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                       <div class="showcase-more upper">
                            <button class="showcase-more-btn upper">
                                <span id="showcase-more-btn-text" class="showcase-more-btn-text">
                                    <a href="">view more</a>
                                </span>
                            </button>
                       </div>
                    </div>
                </div>
                <div class="cleaning">
                    <div class="cleaning-wrapper">
                        <div class="cleaning-header-sticky-wrapper">
                            <div class="cleaning-header-sticky">
                                <div class="cleaning-header-title">
                                    <h1 class="cleaning-title upper" data-title="cleaning">cleaning</h1>
                                </div>
                                <div class="cleaning-service-subtitle upper">
                                    <p>our service is conducted into two procedures.</p>
                                    <ul class="cleaning-procedure-list">
                                        <li>
                                            <span class="upper cleaning-procedure-one cleaning-procedure-span">standard cleaning</span>
                                        </li>
                                        <li>
                                            <span class="upper cleaning-procedure-two cleaning-procedure-span">deep cleaning</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="cleaning-cards">
                            <div class="cards">
                                <!-- KITCHEN -->
                                <div class="card">
                                    <h1 class="card-title upper kitchen" aria-label="card title name">kitchen</h1>
                                        <div class="card-description-container">
                                            <div class="card-description" id="kitchen">
                                                <div class="standard card-header">
                                                    <div class="card-description-title-container">
                                                        <h1 class="card-description-title upper">standard cleaning</h1>
                                                    </div>
                                                    <div class="standard-card-list-type">
                                                        <ul class="standard-list">
                                                            <li>counters</li>
                                                            <li>table</li>
                                                            <li>top of stove</li>
                                                            <li>refrigerator</li>
                                                            <li>in/out microwave</li>
                                                            <li>sweeping & mopping the floor</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                               <div class="deep card-header">
                                                    <div class="card-description-title-container">
                                                        <h1 class="card-description-title upper">deep cleaning</h1>
                                                    </div>
                                                    <div class="deep-card-list-type">
                                                        <ul class="deep-list">
                                                            <li>stove & refrigerator</li>
                                                            <li>in/out cabinets</li>
                                                            <li>baseboards</li>
                                                            <li>windows & sills</li>
                                                            <li>walls & ceilings</li>
                                                            <li>fans & light fixtures</li>
                                                        </ul>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                </div>
                                <!-- LIVING ROOM -->
                                <div class="card">
                                    <h1 class="card-title upper living-room" aria-label="card title name">living room</h1>
                                    <div class="card-description-container">
                                        <div class="card-description" id="living room">
                                            <div class="standard card-header">
                                                <div class="card-description-title-container">
                                                    <h1 class="card-description-title upper">standard cleaning</h1>
                                                </div>
                                                <div class="standard-card-list-type">
                                                    <ul class="standard-list">
                                                        <li>dusting & sanitizing all objects</li>
                                                        <li>sweeping & mopping floor</li>
                                                        <li>vaccuming</li>
                                                      
                                                    </ul>
                                                </div>
                                            </div>
                                           <div class="deep card-header">
                                                <div class="card-description-title-container">
                                                    <h1 class="card-description-title upper">deep cleaning</h1>
                                                </div>
                                                <div class="deep-card-list-type">
                                                    <ul class="deep-list">
                                                        <li>baseboard cleaning</li>
                                                        <li>light fixtures</li>
                                                        <li>ceiling fan</li>
                                                        <li>windows & sills</li>
                                                        <li>blinds</li>
                                                        <li>clean behind furniture</li>
                                                    </ul>
                                                </div>
                                           </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- BATHROOM -->
                                <div class="card">
                                    <h1 class="card-title upper bathroom" aria-label="card title name">bathroom</h1>
                                    <div class="card-description-container">
                                        <div class="card-description" id="bathroom"> 
                                            <div class="standard card-header">
                                                <div class="card-description-title-container">
                                                    <h1 class="card-description-title upper">standard cleaning</h1>
                                                    <p class="card-description-info upper">$10 added to service</p>
                                                </div>
                                                <div class="standard-card-list-type">
                                                    <ul class="standard-list" id="bathroom-standard-list">
                                                        <li>sinks</li>
                                                        <li>bath tub</li>
                                                        <li>toilet</li>
                                                        <li>stand up showers</li>
                                                    </ul>
                                                </div>
                                            </div>
                                           <div class="deep card-header">
                                                <div class="card-description-title-container">
                                                    <h1 class="card-description-title upper">deep cleaning</h1>
                                                </div>
                                                <div class="deep-card-list-type">
                                                    <ul class="deep-list">
                                                        <li>windows & sills</li>
                                                        <li>cleaning inside vanity</li>
                                                    </ul>
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                <!--BEDROOM  -->
                                <div class="card">
                                    <h1 class="card-title upper bedroom" aria-label="card title name">bedroom</h1>
                                    <div class="card-description-container">
                                        <div class="card-description" id="bedroom">
                                            <div class="standard card-header">
                                                <div class="card-description-title-container">
                                                    <h1 class="card-description-title upper">standard cleaning</h1>
                                                </div>
                                                <div class="standard-card-list-type">
                                                    <ul class="standard-list">
                                                        <li>making bed</li>
                                                        <li>dusting</li>
                                                        <li>sweeping and mopping</li>
                                                        <li>vaccuming</li>
                                                    </ul>
                                                </div>
                                            </div>
                                           <div class="deep card-header">
                                                <div class="card-description-title-container">
                                                    <h1 class="card-description-title upper">deep cleaning</h1>
                                                </div>
                                                <div class="deep-card-list-type">
                                                    <ul class="deep-list">
                                                        <li>baseboards</li>
                                                        <li>light fixtures</li>
                                                        <li>ceiling fans</li>
                                                        <li>cleaning under bed</li>
                                                        <li>windows & sills</li>
                                                        <li>blinds</li>
                                                        <li>changing lien</li>
                                                        <li>walls & ceiling</li>
                                                    </ul>
                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews">
                    <div class="reviews-wrapper">
                        <div class="reviews-header-title">
                            <h1 class="reviews-title upper">reviews</h1>
                        </div>
                        <div class="reviews-details">
                            <div class="reviews-slides">
                                <div class="review-slide">
                                    <div class="review-info">
                                        <div class="review-info-top upper">
                                            <h2 class="review-info-name">adriana marshall</h2>
                                            <p>reviewed on 10/6/24</p>
                                        </div>
                                        <div class="reviews-rate">
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                        </div>

                                        <div class="reviews-comment">
                                            <p>"Tamika is wonderful; she is efficient, timely, and responds to any questions
                                                you may have. She gets to job done I provide Tamika with my code and she goes on and cleans the condo
                                                from top & bottom. She always provides me with before and after videos showing the job done. She works 
                                                well and is extremely trustworthy I'm never there when Tamika cleans and I trust her to get the job done.
                                                She is the best!!"
                                            </p>
                                        </div>
                                        <p id="reviews-comment-desc">comment</p>
                                    </div>
                                </div>
                                <div class="review-slide">
                                    <div class="review-info">
                                        <div class="review-info-top upper">
                                            <h2 class="review-info-name">david wallace</h2>
                                            <p>reviewed on 10/6/24</p>
                                        </div>
                                        <div class="reviews-rate">
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                        </div>

                                        <div class="reviews-comment">
                                            <p>"Excellent service, great communication and competitive pricing."</p>
                                        </div>
                                        <p id="reviews-comment-desc">comment</p>
                                    </div>
                                </div>
                                <div class="review-slide">
                                    <div class="review-info">
                                        <div class="review-info-top upper">
                                            <h2 class="review-info-name">neysa williams</h2>
                                            <p>reviewed on 9/7/24</p>
                                        </div>
                                        <div class="reviews-rate">
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                            <div class="stars-svg">
                                                <img src="./public/images/svg/star-fill.svg"/>
                                            </div>
                                        </div>

                                        <div class="reviews-comment">
                                            <p>"Amazing staff! Courteous and professional. They were very thorough and did an amazing job."</p>
                                        </div>
                                        <p id="reviews-comment-desc">comment</p>
                                    </div>
                                </div>
                                <div class="review-slide">
                                        <div class="review-info">
                                            <div class="review-info-top upper">
                                                <h2 class="review-info-name">barb jacobs</h2>
                                                <p>reviewed on 9/3/24</p>
                                            </div>
                                            <div class="reviews-rate">
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                            </div>

                                            <div class="reviews-comment">
                                                <p>"Tameka was very thorough and hard working. She paid attention to details. For the first time in months, my laundry is all caught up! My rugs are vacuumed,
                                                    my kitchen is cloroxed. My house is clean! My dog loved her too. I've already booked for next week! Tameka is 5 stars!"</p>
                                            </div>
                                            <p id="reviews-comment-desc">comment</p>
                                        </div>
                                    </div>
                                    <div class="review-slide">
                                        <div class="review-info">
                                            <div class="review-info-top upper">
                                                <h2 class="review-info-name">joan alexander</h2>
                                                <p>reviewed on 8/5/24</p>
                                            </div>
                                            <div class="reviews-rate">
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                            </div>
    
                                            <div class="reviews-comment">
                                                <p>"Pleasant and hard-working. Tries to please customer. Open to a check off list. Price is comparable to level of detail needed. Most often brings a helper. Okay with washing laundry,
                                                    which is a big help in this business."</p>
                                            </div>
                                            <p id="reviews-comment-desc">comment</p>
                                        </div>
                                    </div>
                                    <div class="review-slide">
                                        <div class="review-info">
                                            <div class="review-info-top upper">
                                                <h2 class="review-info-name">thomasina hemingway</h2>
                                                <p>reviewed on 8/14/24</p>
                                            </div>
                                            <div class="reviews-rate">
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                            </div>
    
                                            <div class="reviews-comment">
                                                <p>"Very friendly, professional, hard working workers and quick to reply when I call. Left my house smelling fresh and clean. I have hired her on a regular. Thanks"</p>
                                            </div>
                                            <p id="reviews-comment-desc">comment</p>
                                        </div>
                                    </div>
                                    <div class="review-slide">
                                        <div class="review-info">
                                            <div class="review-info-top upper">
                                                <h2 class="review-info-name">latonia franklin</h2>
                                                <p>reviewed on 8/5/24</p>
                                            </div>
                                            <div class="reviews-rate">
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                                <div class="stars-svg">
                                                    <img src="./public/images/svg/star-fill.svg"/>
                                                </div>
                                            </div>
    
                                            <div class="reviews-comment">
                                                <p>"The owner of the company Mrs. Gibbs did a marvelous job from top to bottom cleaning and very thorough. I recommend her for all your cleaning needs."</p>
                                            </div>
                                            <p id="reviews-comment-desc">comment</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="footer-container">
                            <div class="footer-title upper">
                                <h1>footer</h1>
                            </div>
                            <div class="footer-info">
                                <div class="footer-info-title footer-header upper">
                                    <h1>contact us</h1>
                                </div>
                                <div class="footer-info-contact">
                                    <div class="footer-info-phone">
                                        <h2 class="footer-info-title upper">phone</h2>
                                        <h3>
                                            <a href="tel:+18438643952">
                                                (843) 864-3952
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="footer-info-email">
                                        <h2 class="footer-info-title upper">email</h2>
                                        <h3>
                                            <a href="mailto:ready2cleancleaningservicesLLC@gmail.com">
                                            ready2cleancleaningservicesLLC@gmail.com
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="footer-info-socials">
                                        <h2 class="footer-info-title upper">social</h2>
                                        <div class="footer-social-icons">
                                            <a href="https://www.facebook.com/people/Ready-2-Clean/61558518700473/">
                                                <img src="./public/images/svg/facebook-fill.svg"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-footer">
                                <div class="footer-footer-copy">
                                    <h5>developed by kam.</h5>
                                    <h5>&copy; 2025 Ready2Clean. All rights reserved.</h5>
                                </div>
                                <div class="footer-available">
                                    <span class="footer-available-icon">
                                        <span class="f-dot"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h1 class="footer-logo">r2c.</h1>
                    </footer>
                </div>
            </div>
       </main>
       <div class="bg-overlay">
 
        <div class="container">
            <div class="menu-overlay">
                <h1 id="exit" class="exit close">
                    <span class="exit-tag">exit.</span>
                </h1>
                <div class="menu-overlay-container">
                <div class="menu-grid grid">
                    <div class="menu-content active" id="home">
                        <a class="home" href="/">
                            <span>home</span>
                        </a>
                    </div>
                    <div class="menu-content" id="about">
                        <a class="about" href="/about">
                            <span>about</span>
                        </a>
                    </div>
                    <div class="menu-content" id="gallery">
                        <a class="gallery" href="/gallery">
                            <span>gallery</span>
                        </a>
                    </div>
                    <div class="menu-content" id="contact">
                        <a class="contact" href="/contact">
                            <span>contact</span>
                        </a>
                    </div>
                    <div class="menu-title">
                        <h1>ready 2 clean.</h1>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" src="./app.js" defer></script>
</html>