@font-face {
  src: url('fonts/RoslindaleDisplayCondensed-Regular.woff2') format("woff2"),
       url('fonts/RoslindaleDisplayCondensed-Regular.woff') format("woff");
  font-family: 'RoslindaleDisplayCondensed';
  font-style: normal;
  font-weight: normal;
}

